* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__checkbox {
  position: absolute;
  visibility: hidden;
}

.promo {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
}

.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 67%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.colortext {
  color: #F16D7F;
}

.promo__content {
  padding-left: 64px;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__item {
  position: relative;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__item_big {
  min-height: 180px;
  grid-column: 1 / -1;
}

.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product-box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
  fill: #F16D7F;
}

.product__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.product2_img {
  left: 45.5%;
  right: 45.63%;
  top: 54.22%;
  bottom: 32.1%;
  background-color: #F7E4E2;
  margin-bottom: 3px;
  padding: 9px 110.06px 11px 108px;
}

.button_bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 13.5px 38.5px;
  background-color: white;
  margin-top: 48.5px;
  margin-bottom: 60.5px;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) and (min-width: 768px) {

  .header__right {
    gap: 25px;
    margin-right: 41px;
  }

  .header__left {
    margin-left: 32px;
  }

  .promo__title {
    font-size: 44px;
  }

  .promo__heading {
    font-size: 24px;
  }

  .promo__info {
    margin-top: 47%;
  }

  .promo__content {
    padding-left: 39px;
  }

  .sale {
    gap: 19px;
    padding-left: 16.5px;
    padding-right: 16.5px;
    padding-bottom: 110px;
  }

  .sale__content_big {
    margin-top: -30px;
  }

  .product-box__content {
    margin-top: 72px;
    gap: 16px;
  }

  .button_bottom {
    margin-top: 33px;
    margin-bottom: 74px;
  }
}

@media (max-width: 767px) and (min-width: 320px){

  .top {
    overflow-x: hidden;
  }

  .header__right {
    margin-right: 16px;
  }

  .reg {
    display: none;
  }

  .cart {
    display: none;
  }

  .header__left {
    margin-left: 16px;
  }


  .promo {
    padding: 148px 35px;
  }

  .promo__img {
    display: none;
  }

  .promo__title {
    font-size: 30px;
    line-height: 40px;
  }

  .promo__heading {
    font-size: 16px;
    line-height: 22px;
  }

  .promo__content {
    padding-left: 15px;
  } 

  .promo__info {
    margin-top: 0;
    padding-left: 12px;
  }

  .sale {
    gap: 28px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 0px;
    grid-template-columns: repeat(auto-fit, 292px);
    justify-content: center;
  }

  .sale__text {
    font-size: 10px;
  }

  .sale__heading {
    font-size: 20px;
  }

  .img_big {
    min-height: 100px;
  }

  .sale__content_big {
    height: 50%;
  }


  .product-box__content {
    margin-top: 72px;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, 300px);
  } 

  .product2 {
    justify-content: center;
  }

  .product2_img {
    padding: 0px 79px;
  }

  .product__add {
    top: 170px;
    left: 80px;
  } 

  .button_bottom {
    margin-top: 41px;
    margin-bottom: 85.5px;
  }
}